.change-color-happy{
  border-radius: 50%;
}
.change-color-happy:hover{
  background-color: yellow !important;
}
.change-color-sad{
  border-radius: 50%;
}
.change-color-sad:hover{
  background-color: gray !important;
}
.change-color-angry{
  border-radius: 50%;
}
.change-color-angry:hover{
  background-color: red !important;
}
.change-color-mustaches{
  border-radius: 50%;
}
.change-color-mustaches:hover{
  background-color: blue !important;
}
.change-color-weird{
  border-radius: 50%;
}
.change-color-weird:hover{
  background-color: pink !important;
}